Readme.txt
hotosm_tha_roads_lines_shp.cpg
hotosm_tha_roads_lines_shp.dbf
hotosm_tha_roads_lines_shp.shp
hotosm_tha_roads_lines_shp.shx
tha_admbnda_adm0_rtsd_20220121.cpg
tha_admbnda_adm0_rtsd_20220121.dbf
tha_admbnda_adm0_rtsd_20220121.prj
tha_admbnda_adm0_rtsd_20220121.sbn
tha_admbnda_adm0_rtsd_20220121.sbx
tha_admbnda_adm0_rtsd_20220121.shp
tha_admbnda_adm0_rtsd_20220121.shp.xml
tha_admbnda_adm0_rtsd_20220121.shx
tha_admbnda_adm1_rtsd_20220121.cpg
tha_admbnda_adm1_rtsd_20220121.dbf
tha_admbnda_adm1_rtsd_20220121.prj
tha_admbnda_adm1_rtsd_20220121.sbn
tha_admbnda_adm1_rtsd_20220121.sbx
tha_admbnda_adm1_rtsd_20220121.shp
tha_admbnda_adm1_rtsd_20220121.shp.xml
tha_admbnda_adm1_rtsd_20220121.shx
tha_admbnda_adm2_rtsd_20220121.cpg
tha_admbnda_adm2_rtsd_20220121.dbf
tha_admbnda_adm2_rtsd_20220121.prj
tha_admbnda_adm2_rtsd_20220121.sbn
tha_admbnda_adm2_rtsd_20220121.sbx
tha_admbnda_adm2_rtsd_20220121.shp
tha_admbnda_adm2_rtsd_20220121.shp.xml
tha_admbnda_adm2_rtsd_20220121.shx
tha_admbnda_adm3_rtsd_20220121.cpg
tha_admbnda_adm3_rtsd_20220121.dbf
tha_admbnda_adm3_rtsd_20220121.prj
tha_admbnda_adm3_rtsd_20220121.sbn
tha_admbnda_adm3_rtsd_20220121.sbx
tha_admbnda_adm3_rtsd_20220121.shp
tha_admbnda_adm3_rtsd_20220121.shp.xml
tha_admbnda_adm3_rtsd_20220121.shx
tha_admbndl_admALL_rtsd_itos_20220121.cpg
tha_admbndl_admALL_rtsd_itos_20220121.dbf
tha_admbndl_admALL_rtsd_itos_20220121.prj
tha_admbndl_admALL_rtsd_itos_20220121.sbn
tha_admbndl_admALL_rtsd_itos_20220121.sbx
tha_admbndl_admALL_rtsd_itos_20220121.shp
tha_admbndl_admALL_rtsd_itos_20220121.shp.xml
tha_admbndl_admALL_rtsd_itos_20220121.shx
tha_admbndp_admALL_rtsd_itos_20220121.cpg
tha_admbndp_admALL_rtsd_itos_20220121.dbf
tha_admbndp_admALL_rtsd_itos_20220121.prj
tha_admbndp_admALL_rtsd_itos_20220121.sbn
tha_admbndp_admALL_rtsd_itos_20220121.sbx
tha_admbndp_admALL_rtsd_itos_20220121.shp
tha_admbndp_admALL_rtsd_itos_20220121.shp.xml
tha_admbndp_admALL_rtsd_itos_20220121.shx
tha_admbndt_adminUnitLookup.cpg
tha_admbndt_adminUnitLookup.dbf
tha_admbndt_adminUnitLookup.dbf.xml
